node_modules/
lib/
*.tsbuildinfo
.npm-cache/
.pnpm-home/
.scrum-data/
.DS_Store
.dsh-home/sessions/
.dsh-home/storages/
.dsh-home/profiles/node_modules/
.dsh-home/.anonymous-user-id
.dsh-home/settings.yaml
.dsh-home/.credentials.yaml
